<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>11. Parts CAD</string>
		<string>10. Documents for Reference</string>
		<string>4. Original BluePrint (OBP)</string>
		<string>5. Industrial BluePrint (IBP)</string>
		<string>6. Visual Demo (VD)</string>
		<string>7. CAM</string>
		<string>8. Assembly Demo (AD)</string>
		<string>9. Photos</string>
		<string>Old Files</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
	</array>
</dict>
</plist>
